* {
  box-sizing: border-box;
}

html,
body {
  color: #444;
  font-family: 'Helvetica', 'Verdana', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  align-content: stretch;
  align-items: stretch;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

html {
  overflow: hidden;
}

/**
 * Header
 */
.header {
  align-content: center;
  align-items: stretch;
  background: #023059;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 20px;
  height: 60px;
  justify-content: flex-start;
  padding: 19px 16px 0 16px;
  position: fixed;
  transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  width: 100%;
  will-change: transform;
  z-index: 1000;
}

.header h1 {
  flex: 1;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

.header button {
  border: none;
  cursor: pointer;
  height: 24px;
  margin-right: 16px;
  opacity: 0.54;
  outline: none;
  overflow: hidden;
  text-indent: -30000px;
  transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
  width: 24px;
}

.header #butRefresh {
  background: url("../images/refresh.svg") center center no-repeat;
}

.header #butInstall {
  background: url("../images/install.svg") center center no-repeat;
}

/**
 * Icons
 */
.icon {
  background-repeat: no-repeat;
  background-size: contain;
}

/**
 * Main body
 */
.main {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 60px;
}

/**
 * Div container
 */
.row{
  margin: 8px 20px;
  padding: 10px 10px 10px;
  font-size: 20px;
  color: #023059;
  width: auto;
  height: 100px;
  border: rgba(136, 140, 140, 0.59) 2px solid;
  background-color: #ececec;
  box-shadow:
          0 4px 5px 0 rgba(0, 0, 0, 0.14),
          0 2px 9px 1px rgba(0, 0, 0, 0.12),
          0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.row div{
  float:left;
  margin: 5px;
}

.row img{
  width: 115px;
  height: auto;
  float:left;
}


/**
 * Menu
 */
ul {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #439FD9;
  box-shadow:
          0 4px 5px 0 rgba(0, 0, 0, 0.14),
          0 2px 9px 1px rgba(0, 0, 0, 0.12),
          0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, li a:active {
  background-color: #50C4F2;
}

.active{
  background-color: #F2CB05;
  color: #023059;
}
